@font-face {
    font-family: 'dazn_oscinexbold_italic';
    src: url('../assets/fonts/dazn_oscine_a_xbdit-webfont.woff2') format('woff2'),
         url('../assets/fonts/dazn_oscine_a_xbdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscinexbold';
    src: url('../fonts/dazn_oscine_a_xbd-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_xbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscineregular';
    src: url('../fonts/dazn_oscine_a_rg-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscinelight_italic';
    src: url('../fonts/dazn_oscine_a_ltit-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_ltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscinelight';
    src: url('../fonts/dazn_oscine_a_lt-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscineitalic';
    src: url('../fonts/dazn_oscine_a_it-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscinebold_italic';
    src: url('../fonts/dazn_oscine_a_bdit-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_bdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dazn_oscinebold';
    src: url('../fonts/dazn_oscine_a_bd-webfont.woff2') format('woff2'),
         url('../fonts/dazn_oscine_a_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dazn_oscineExtrabold';
    src: url('../fonts/DAZNTrim-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
