@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables.scss";
@import "colors.scss";
@import "fonts.scss";
@import "carousel.scss";
@import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";
body {
    font-family: 'dazn_oscineregular';
}

.front-page-video {
    position: $posrelative;
    width: $MaxWidth;
    height: 100vh;
    overflow: hidden;
}

.cover-background {
    width: 100%;
    background-image: url(../images/video-bg.jpg);
    background-size: cover;
}

.navbar {
    padding-top: 35px;
}

.global-navbar {
    position: $posFixed;
    top: 0;
    left: 0;
    z-index: 1030;
    width: $MaxWidth;
    background-color: transparent;
    transition: background-color .4s ease-out;
    height: 110px;
    background: transparent linear-gradient(180deg, #000000D6 0%, #00000030 80%, #00000000 100%) 0% 0% no-repeat padding-box;
    .navbar-nav li {
        width: auto;
        font: normal normal bold 20px/26px dazn_oscineregular;
        @media screen and (min-width: 768px) {
            padding-left: 30px;
        }
    }
}

.navbar-collapse.collapse.show {
    padding: 15px 5px;
    background: $transparentblack;
}

.hide-cross {
    display: none;
}

.home .nav-item a {
    color: $whiteText !important;
}

.home .nav-item a:hover {
    color: $YellowText !important;
    text-decoration: none;
    border-bottom: 2px solid $whiteText;
}

.homepage-hero {
    position: $posAbsolute;
    align-items: center;
    padding: 40px 15px;
    bottom: 100px;
    background: #0c161c70;
    z-index: 9;
    @media screen and (min-width: 768px) {
        padding-left: 70px;
    }
}

.hero-tag-text {
    margin: 0;
    padding: 0;
}

.home .main {
    position: $posrelative;
    // height: 100%;
}

@media screen and (max-width: 768px) {
    #team-pills>li.active>a,
    #team-pills>li.active>a:focus,
    #team-pills>li.active>a:hover {
        font: normal normal normal 17px/80px dazn_oscineregular !important;
    }
    #team-pills>li>a {
        font: normal normal normal 17px/80px dazn_oscineregular !important;
    }
    .hovarable-card .card-img-top,
    .hovarable-card .card-body {
        margin: 0 auto;
        text-align: center !important;
    }
    .card-heading.card-heading,
    .card-desig {
        text-align: center !important;
    }
    .modal-card-heading {
        margin-top: 25px;
    }
    .watch-cta {
        width: 321px;
        height: 42px;
        background: $YellowText 0% 0% no-repeat padding-box;
        // border-radius: 8px;
        margin-top: 15px;
        border: none;
    }
    .watch-text {
        text-align: center;
        font: normal normal normal 20px/20px dazn_oscinexbold;
        color: $blackText
    }
    .home .nav-item a {
        font: normal normal bold 25px/50px dazn_oscineregular;
    }
    .h2-class {
        color: $YellowText;
        width: 298px;
        height: 107px;
        text-align: left;
        font: normal normal normal 43px/52px dazn_oscineExtrabold;
    }
    .h3-class {
        text-align: left;
        width: 288px;
        height: 67px;
        font: normal normal normal 19px/25px dazn_oscinexbold;
        color: $whiteText;
    }
    .partner-h3 {
        text-align: left;
        width: 373px !important;
        height: 20px;
        font: normal normal normal 19px/32px dazn_oscinexbold;
        color: #fff
    }
    .homepage-hero {
        padding: 40px 82px;
    }
}

.dazn-logo {
    width: 58px;
    height: 58px;
}


@media screen and (min-width: 1200px) {
  .hide-mobile-watch-cta {
      display: none;
  }
}
@media screen and (max-width: 1200px) {
  .hide-desktop-watch-cta {
      display: none;
  }
}
@media screen and (min-width: 768px) {
    .watch-cta {
        width: 220px;
        height: 50px;
        background-color: $YellowText ;
        margin-right: 70px; padding: 0;
        border: none; border-radius: 4px;}
    .watch-cta :hover {
        color: #fff;
        background-color:#000000;
        border-radius: 4px;
    }
    .watch-text {
        font: normal normal normal 25px/20px dazn_oscinexbold;
        color: $blackText;
        line-height: 56px;
    text-align: center;
    height: 50px;
   width: 100%;
   display: block;
    }
    .logo {
        margin-right: 5rem;
        padding-left: 70px;
    }
    .nav-link {
        display: initial !important;
    }
    .body-text {
        background-position: right;
        background-size: 100%;
    }
    .h2-class {
        color: $YellowText;
        width: 965px;
        height: 129px;
        text-align: left;
        font: normal normal normal 100px/90px dazn_oscineExtrabold;
    }
    .h3-class {
        text-align: left;
        width: 983px;
        height: 52px;
        font: normal normal normal 29px/90px dazn_oscinexbold;
        color: $whiteText;
    }
    .partner-h3 {
        text-align: left;
        width: 765px !important;
        height: 90px;
        font: normal normal normal 19px/25px dazn_oscinexbold;
        color: #fff
    }
    .homepage-hero {
        padding-left: 67px;
    }
}

// color: $whiteText;

/*Plugin CSS*/

.str_wrap {
    overflow: hidden;
    //zoom:1;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
    .str_move {
        white-space: nowrap;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        max-width: none !important;
        width: 180px;
        filter: grayscale(100%);
        transition: all 0.5s ease;
        &:hover {
            filter: initial;
            transition: all 0.5s ease;
            background: #F9FAFA;
        }
    }
}

.str_move_clone {
    display: inline-block;
    //display:inline;
    //zoom:1;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
}

.fan-exp {
    background-color: $black;
    padding: 30px;
    color: $whiteText;
    font-size: 3vh;
    line-height: 5.4vh;
    @media screen and (min-width: 768px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.footer-section {
    // margin-bottom: 30px;
    background: #F9FAFA 0% 0% no-repeat padding-box;
    padding-top: 30px;
    padding-bottom: 20px;
    @media screen and (min-width: 768px) {
        padding-left: 55px;
        padding-right: 55px;
    }
    .footer-about {
        p {
            @media only screen and (max-width: 400px) {
                font-size: 14px;
            }
        }
        img {
            width: 50px;
            height: 50px;
            margin-right: 5vh;
        }
    }
    .terms-set {
        @media only screen and (max-width: 400px) {
            border-bottom: 1px solid #707070;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }
    .mobile-hide {
        display: block;
        @media only screen and (max-width: 400px) {
            display: none;
        }
    }
    .web-hide {
        display: none;
        @media only screen and (max-width: 400px) {
            display: block;
        }
    }
    .footer-terms {
        ul {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: 'dazn_oscinexbold';
            &.d-flex {
                margin-top: 30px;
                li {
                    margin: 0 30px;
                    padding: 0;
                    &:first-child {
                        margin-left: 0;
                        @media only screen and (max-width: 400px) {
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            li {
                padding-bottom: 10px;
                margin: 0;
                list-style-type: none;
                &:first-child {
                    padding-top: 0;
                    @media only screen and (max-width: 400px) {
                        padding-top: 15px;
                    }
                }
                @media only screen and (max-width: 400px) {
                    text-align: center;
                }
                a {
                    color: $blackText;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-social-links {
        ul {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: 'dazn_oscinexbold';
            &.d-flex {
                margin-top: 0px;
                li {
                    margin: 0 15px;
                    padding: 0;
                    &:first-child {
                        margin-left: 0;
                        @media only screen and (max-width: 400px) {
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            li {
                padding-bottom: 10px;
                margin: 0;
                list-style-type: none;
                &:first-child {
                    padding-top: 0;
                    @media only screen and (max-width: 400px) {
                        padding-top: 15px;
                    }
                }
                @media only screen and (max-width: 400px) {
                    text-align: center;
                }
                a {
                    color: $blackText;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.text-yellow {
    color: $YellowText;
}

.mission-sports {
    .mission-sports-txt {
        margin-left: -15px;
        p {
            text-decoration: none;
            font: normal normal normal 25px/31px dazn_oscineregular !important
        }
        @media only screen and (max-width: 400px) {
            margin-left: 0px;
            padding: 30px;
        }
        @media only screen and (min-width: 768px) {
            padding-left: 70px;
        }
    }
    .mission-sports-y-set {
        display: flex;
        background-color: $YellowText;
        align-items: center;
        justify-content: flex-end;
        img {
            max-height: 450px;
            @media only screen and (max-width: 400px) {
                display: none;
            }
        }
        @media only screen and (max-width: 400px) {
            margin-left: -30px;
            margin-right: -30px;
            padding: 30px;
        }
        @media only screen and (min-width: 768px) {
            h2 {
                padding-left: 70px;
            }
        }
    }
    color: $black000;
    background: linear-gradient(90deg, rgba(247, 255, 26, 1) 0%, rgba(249, 250, 250, 1) 80%);
    @media only screen and (max-width: 400px) {
        background: #F9FAFA;
    }
    .row {
        div:first-child {
            @media (min-width: 500px) and (max-width: 991px) {
                padding-top: 50px;
                padding-bottom: 35px;
            }
            h2 {
                font-size: 65px;
                line-height: 78px;
                font-family: 'dazn_oscinexbold';
                @media screen and (max-width: 991px) {
                    font-size: 40px;
                    line-height: 59px;
                }
            }
        }
        div:nth-child(2) {
            background-color: #F9FAFA;
            padding-top: 65px;
            padding-bottom: 65px;
            @media (min-width: 500px) and (max-width: 991px) {
                padding-top: 50px;
                padding-bottom: 35px;
            }
            @media only screen and (max-width: 400px) {
                padding: 30px 15px;
            }
            h4 {
                // font-size: 25px;
                // line-height: 36px;
                padding-bottom: 40px;
                // font-family: 'dazn_oscinexbold';
                font: normal normal bold 25px/36px dazn_oscinexbold;
                @media screen and (max-width: 991px) {
                    font-size: 20px;
                    line-height: 25px;
                    padding-bottom: 10px;
                }
                // p {
                //   text-decoration: none;
                //   font: normal normal normal 25px/31px dazn_oscineregular !important
                // }
            }
        }
    }
}

.fan-exp {
    @media only screen and (max-width: 400px) {
        img {
            margin-bottom: 30px;
        }
    }
}

.connecting-to-fans-counter {
    color: $whiteText;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $black000;
    .fans-counter {
        font: normal normal bold 50px/49px dazn_oscinexbold;
    }
    @media screen and (min-width: 768px) {
        padding-left: 70px;
        .fans-counter {
            font: normal normal bold 75px/49px dazn_oscinexbold;
        }
    }
    @media screen and (max-width: 991px) {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .des {
        margin-bottom: 0;
        font-family: 'dazn_oscinelight';
    }
}

.connecting-to-fans-des {
    font-size: 30px;
    line-height: 50px;
    background-color: #E8E8E8;
    font-family: 'dazn_oscinelight';
    @media screen and (max-width: 991px) {
        font-size: 25px;
        line-height: 40px;
    }
}

.body-text {
    background-image: url(../container-backgrond.png);
    background-repeat: no-repeat;
    padding: 50px 0px;
    @media screen and (min-width: 768px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.nav-color {
    background-color: #000000;
}

.marq-set {
    padding: 50px 0px;
    @media screen and (min-width: 768px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.news-car {
    .item {
        position: relative;
        &:hover {
            cursor: pointer;
            .item-text {
                display: block;
                position: absolute;
                background-color: $YellowText;
                height: 160px;
                width: 100%;
                bottom: 0;
                transition: .3s ease;
            }
        }
        .item-text {
            display: none;
            transition: .3s ease;
        }
    }
    .item-text {
        padding: 20px;
        .item-text-one {
            display: flex;
            align-items: center;
            .item-date {
                color: #0C161C;
                margin-right: 15px;
            }
            .item-text-cat {
                background-color: #0C161C;
                border-radius: 4px;
                color: #FFFFFF;
                text-transform: uppercase;
                font-size: 12px;
                padding: 3px 6px;
            }
        }
        .item-run-txt {
            margin: 15px 0 0 0;
        }
        .item-arrow {
            display: flex;
            justify-content: flex-end;
            img {
                width: 45px;
            }
        }
    }
}

//
//////////////////////////
///
.our-partner-bg {
    width: 100%;
    background-image: url(../images/partner-bg.png);
    background-size: cover;
    position: relative;
    top: 0;
    background-repeat: no-repeat;
    height: 465px;
}

.partner-h3 {
    text-align: left;
    font: normal normal normal 85px/90px dazn_oscineExtrabold;
    letter-spacing: 0px;
    color: #F7FF1A;
    text-transform: uppercase;
    opacity: 1;
}

#team-pills>li.active>a,
#team-pills>li.active>a:focus,
#team-pills>li.active>a:hover {
    color: #F7FF1A;
    background: black;
    text-align: left;
    font: normal normal normal 25px/90px dazn_oscineregular;
    letter-spacing: 0px;
    color: #F7FF1A;
    text-transform: uppercase;
    opacity: 1;
}

#team-pills>li>a:focus,
#team-pills>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}

#team-pills>li>a {
    text-align: left;
    font: normal normal normal 25px/90px dazn_oscineregular;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    padding: 18px 25px 10px 25px;
}

.card-heading {
    text-align: left;
    font: normal normal normal 24px/30px dazn_oscinebold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display: -webkit-box;
    height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-desig {
    text-align: left;
    font: normal normal normal 12px/20px dazn_oscineregular;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.card-img-top {
    background: #b9bec3;
    // border-radius: 50%;
    width: 100%;
    // height: 180px;
    text-align: center;
    // margin: 10px 20px;
    object-fit: contain;
}

.hovarable-card:hover {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.hovarable-card:hover .btn-bio {
    background: #F7FF1A 0% 0% no-repeat padding-box;
    opacity: 1;
    color: black;
    padding: 5px 10px 0px 10px !important;
}

.btn-bio {
    color: #002CA5;
    text-transform: uppercase;
    padding: 5px 0;
}

.bottom-57 {
    bottom: 57px !important;
}

.home .nav-item a.active {
    border-bottom: 2px solid #F7FF1A;
    color: white;
    padding: 0;
}

.home .nav-item a {
    // padding-left: 0 !important;
    // padding-right: 0 !important;
    padding: 0 !important;
}

.btn-bio:focus,
.btn-bio.focus {
    box-shadow: unset !important;
}

.btn-contact {
    font: normal normal normal 20px/35px dazn_oscineregular;
    letter-spacing: 0px;
    color: #000000;
    // float: right;
    background: #F7FF1A 0% 0% no-repeat padding-box;
    padding-bottom: 0;
}

.card-back {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 4px 20px #C7CBD072;
    border: 1px solid #C7CBD0;
    border-radius: 12px;
}

p.card-text {
    height: 160px;
}

@media (min-width: 768px) and (max-width:1024px) {
    .hovarable-card .card-img-top,
    .hovarable-card .card-body {
        margin: 0 auto;
        text-align: center !important;
        width: 100%;
        height: auto;
    }
    .our-team-left {
        padding: 0px 69px !important;
    }
    .partner-h3 {
        font: normal normal normal 80px/100px dazn_oscinexbold !important;
    }
}

@media screen and (max-width:600px) {
    .our-team-left {
        padding: 0px 5px !important;
    }
    .homepage-hero {
        padding-left: 16px !important;
    }
    .partner-h3 {
        font: normal normal normal 40px/30px dazn_oscinexbold !important;
    }
}

.our-team-left {
    padding: 0 55px;
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
    .logo {
        margin-right: 5rem;
        padding-left: 54px;
    }
}
